<h1 style="text-align:center">Create</h1>
<hr>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form (ngSubmit)="create()" #f="ngForm">
      <div class="form-group">
        <input type="text" name="name" ngModel placeholder="Name" class="form-control" required />
      </div>
      <div class="form-group">
        <input type="text" name="capital" ngModel placeholder="Capital" class="form-control" required/>
      </div>
      <button class="btn btn-primary" type="submit">Save</button>
    </form><br><br>
    <p>{{res}}</p>
  </div>
</div>